/**
 * @file
 * Vaeiables.
 */
//## Font, line-height, and color for body text, headings, and more.
@import url(//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css);

$jx-font: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
$awesome: 'FontAwesome';

$jx-color: #FF456A;
$jx-border: #ccc;
$jx-grey: #666;
$jx-text: #333;