@import 'common/variables';
@import 'common/mixins';
@import 'common/base';

body {
	padding-bottom: 80px;
	padding-top: 74px;
	font-size: .875em;
}
.App {
	max-width: 480px;
	margin: 0 auto;
}

// Header.
header {
	padding: 10px 15px;
	border-bottom: 1px solid $jx-border;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.2);
	position: relative;
	z-index: 9;
	text-align: center;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: $jx-color;
	color: #fff;
	a {
		display: inline-block;
		img {
			max-width: 200px;
		}
	}
	h1 {
		margin: 0;
		font-size: 20px;
	}
}
.header-logo {
	font-size: 0;
	background: #fff;
	height: 74px;
}

// Footer.
footer {
	background: #fff;
	border-top: 1px solid $jx-border;
	text-align: center;
	padding: 10px 15px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	ul {
		display: flex;
		padding: 0;
		margin: 0;
	}
	li {
		flex: 1;
	}
	a {
		color: $jx-grey;
		text-decoration: none;
		font-size: .75em;
		&.active {
			color: $jx-color;
		}
	}
	.fa {
		display: block;
		font-size: 1.5em;
	}
}

// Film.
.film-list {
	overflow: hidden;
	@include clearfix;
	ul {
		margin: 0 -15px;
		padding: 15px;
	}
	li {
		width: 50%;
		float: left;
		padding: 0 15px;
		padding-bottom: 15px;
	}
	h3 {
		margin-top: 5px;
		margin-bottom: 0;
		height: 21px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	p {
		margin-bottom: 0;
		font-size: 12px;
		margin-top: -5px;
	}
	a {
		text-decoration: none;
		@include transition(opacity, ease, .5s);
		h3,
		p {
			color: $jx-text;
		}
		&:hover {
			opacity: .75;
		}
	}
}

// Add.
.add-film {
	width: 80%;
	margin: 40px auto;
	input {
		height: 40px;
		line-height: 40px;
		padding: 0 15px;
		width: 100%;
		border: 1px solid $jx-border;
		@include border-radius(4px);
		@include shadow(none);
	}
	textarea {
		font-family: $jx-font;
		line-height: 40px;
		padding: 0 15px;
		width: 100%;
		border: 1px solid $jx-border;
		@include border-radius(4px);
		@include shadow(none);
		&:focus {
			outline: 0;
		}
	}
	.form-group {
		margin-bottom: 15px;
		display: block;
	}
	.dv-star-rating {
		font-size: 22px;
		label {
			margin-right: 8px;
		}
	}
	.form-submit {
		background: $jx-color;
		border-color: $jx-color;
		color: #fff;
	}
}

// Detail.
.detail-text {
	padding: 0 15px;
	.dv-star-rating {
		font-size: 20px;
	}
	h2 {
		margin-bottom: 10px;
		padding-right: 50px;
	}
	h3 {
		font-size: 15px;
		font-weight: normal;
		margin: 0;
	}
	.dv-star-rating {
		margin-bottom: 20px;
	}
}
.detail-top {
	position: relative;
	.fa {
		position: absolute;
		top: 8px;
		right: 0;
		cursor: pointer;
	}
	.fa-heart {
		color: $jx-color;
	}
	.fa-trash {
		right: 28px;
		&:hover {
			color: $jx-color;
		}
	}
}
.detail-img {
	text-align: center;
}

// User.
.user {
	img {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		display: block;
		border: 2px solid $jx-border;
		@include border-radius(40px);
	}
}
.icon-list {
	margin-top: 20px;
	margin-bottom: 20px;
	ul {
		margin: 0;
		padding: 0;
		display: flex;
	}
	li {
		flex: 1;
		text-align: center;
		border-right: 1px solid $jx-border;
		i {
			color: $jx-color;
		}
		&:last-child {
			border-right: 0;
		}
	}
	p {
		margin-bottom: 0;
	}
}
.menu-list {
	border-top: 20px solid #f0f0f0;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		border-bottom: 1px solid #e0e0e0;
		line-height: 40px;
		a {
			padding-left: 20px;
			display: block;
			color: $jx-text;
			text-decoration: none;
		}
	}
}